*{
    /*width:auto;*/
}





.alert {
    padding: 10px 20px;
    background-color: #6b60ff;
    color: white;

}

.alert:hover {
    background-color: #635ac7;
    text-decoration:none;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s
}

.alert-text{
    display: flex;
    justify-content: center;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.tired{
    step__description_right    display: inline-flex;
}

.note {
    font-size: 1em;
    left: 10px;
    position: relative;
    line-height: 2em;
    color: #b7b7b7;
    font-style: italic;
}
.little-effort__block .effort p {
    line-height: 1.3em;
}
.list {
    margin-right: 15px;
}

.main-nav nav .menu {
    top: 1px;
}

.main-nav nav .menu li:nth-of-type(2) a:hover{
    color: #ebeaff !important;
}
.nav-fixed nav .menu li:nth-of-type(2) a {
    color: #7a6eff !important;
}

.nav-fixed nav .menu li:nth-of-type(2) a:hover{
    color: #635bc7 !important;
}
.nav-fixed .menu *:hover{
    fill: #635bc7 !important;
}
.menu *:hover{
    fill: #d0ccff !important;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.btn2{
    font-size: 26px;
    padding: 16px 57px;
    display: inline-block;
    background: #796eff;
    border-radius: 4px;
    color: #fff;
    font-family: "Gordita-Medium";
}

.btn2:hover {
    background: #635ac7;
}

.popup .btn, .popup-thank-you .btn {
    cursor: pointer;
    font-size: 24px;
    padding: 9px 49px;
}

.popup .btn, .popup-thank-you .btn {
    cursor: pointer;
    font-size: 24px;
    padding: 9px 49px;
}

.bt3{
    color: #796eff;
}

img {}


.main-scene__text {
    z-index: 0;
}
.main-scene__text p.handwritten {
    padding: 0;
    position: relative !important;
    bottom: 15px;
}

/* Play video */

.main-scene-bottom .openpopup, .main-scene-bottom .paly-video {
    float: left;
}
.paly-video p {
    font-size: 19px;
}
.main-scene-bottom .paly-video {
    width: 200px;
    padding-top: 2%;
}
.main-scene-bottom .paly-video p {
    color: #7a6eff;
    font-weight: 500;
    float: left;
    margin-left: 10%;
}
.play-icon {
    position: relative;
    display: inline;
}

.play-icon .img-top {
    position: absolute;
    width: 80%;
    left: 0;
    z-index: 99;
    opacity: 0;
    transition: .4s ease;
}

.paly-video:hover .img-top {
    display: inline;
    opacity: 1;
}
.play-icon img {
    width: 15%;
    display: inline-block;
    margin-left: 7px;
}
.paly-video:hover p {
    color: #5646ff;
}


.step3 .step__image img {
    padding: 10px 10px 10px 0px;
    width: 88%;
    position: relative;
    float: right;
}

.step2 .step__image img {}

.little-effort__block .effort img {
    width: auto;
}

.little-effort__block .effort h3 {
    font-weight: bold;
}

.grading-superpowers .title {
    width: 100%;
    padding-bottom: 15px;
    font-weight: bold;
}

.grading-superpowers .title {}

.grading-superpowers .container {
    padding: 0;
}

.col-md-6 {
    width: 50%;
}

section.grading-superpowers {
    position: relative;
    background: url(../img/grading-superbg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    padding: 150px;
}

.little-effort .title {
    /*font-weight: bold;*/
}

.answer-types__block {
    margin-top: 30px;
}

.answer-types .plus-block {
    margin-top: 30px;
    argo:;
}

.answer-types .title, .answer-types p {
    /*font-weight: bold;*/
}

.answer-types .title {
    /*font-weight: bold;*/
    /* margin-bottom: 15px; */
}

.answer-types .plus-block__item h4 {
    color: #646f79;
}

.answer-types .plus-block__item img {
    height: auto;
}

.answer-types__block .answer-list .answer-image {
    height: auto !important;
}

.steps-block .step__image {
    /* margin-top: 100px; */
}

.step.step2,.step.step4 {
    text-align: right;
}

.steps-block .step__description {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.step3 .step__description {
    padding-top: 0;
}
.paper-test .step2 .step__image img {
    width: 88%;
}

.number span {
    padding: 0px 25px;
    color: #fff !important;
}
.paper-test .number {
    background-color: #ffc90e   !important;
}
.online-test .number{
    background-color: #2643e6 !important;
}

.number {
    /* display: inline-block !important; */
    position: relative;

}

.number {}

.video-explain {
    height: 400px;
    margin: 8% 0;
}
.explainor-video {
    text-align: center;
    margin: 0 0 2%;
    color: gray;
}
.video-explain iframe {
    margin: 0 25%;
    width: 50%;
}

.howitwork .arrow-down {
    /* display: none; */
    width: auto;
    height: 50px;
}

.howitwork .title {
    color: #292929;
    font-weight: bold;
}

h1 {}

.main-scene__text p {
    color: #151b26;
    text-align: left;
    margin-right: 2px;
}

.main-scene__text p.main-text {
    font-size: 3em;
    line-height: 1em;
}
.main-scene__text p.handwritten {
    line-height: 3em;
}
.plain .main-scene__text p {
    color: #222;
}

.main-nav .logo span {left: 115px;top: 15px;font-size: 36px;}

.menu * {
    color: #7a6eff;
    fill: #7a6eff ;
}

.main-scene__image img {
    width: 89%;
    display: inline-block;
    float: right;
}

/*.main-nav .logo img {*/
/*    position: absolute;*/
/*    top: 30px;*/
/*    !*width: 75px;*!*/
/*    height: auto;*/
/*    margin-left: 30px;*/
/*}*/

.main-scene__text {
    text-align: left;
    margin-bottom: 4em;
}

/*.main-scene__text h1 {*/
/*    text-align: center;*/
/*}*/

.main-nav .logo span {left: 80px;top: 0px;font-size: 36px;color: #273347;}

.plain .main-nav .logo span {
    color: #222;
}



.main-nav nav .menu li {
    padding: 10px;
}


/*.main-nav .logo img {*/
/*    position: absolute;*/
/*    top: 30px;*/
/*    width: 75px;*/
/*    height: auto;*/
/*    margin-left: 5px;*/
/*    margin-top: -5px;*/
/*}*/



.plain .main-scene__text {
    color: #222;
}

.main-scene__image {
    right: 0vw;
    display: inline-block;
    max-width: 50vw;
}

.main-nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 30px;
}

/*fixed header*/

.nav-fixed {
    position: fixed;
    max-width: 2560px;
    background-color: white;
    z-index: -1;
    padding: 5px 55px;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    animation:slide-down 0.7s;
    box-shadow: rgb(0 0 0 / 50%) 0px 1px 5px;
}
@keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-fixed .menu * {
    fill: #7a6eff !important;
    color: #7a6eff !important;
}

.main-nav .logo img {
    width: 268px;
    height: auto;
}
.nav-fixed .logo img {
    width: 160px;
    height: auto;
    top: 9px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:white;
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 80%;
}

/* The Close Button */
.close {
    color: #7a6eff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 2% 4%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





section.main-scene {
    background: url(../img/bg2.jpg);
    background-size: cover;
    background-position: bottom;
    padding-top: 137px;
    min-height: 100vh;
    background-repeat: no-repeat;
}

section.main-scene.bg-plain {
    background: url(../img/bg-plain.jpg);
    background-size: cover;
    background-position: right;
    padding-top: 137px;
    min-height: 100vh;
    background-repeat: no-repeat;
}

section.main-scene.bg2 {
    background: url(../img/bg2.jpg);
    background-size: cover;
    background-position: right;
    padding-top: 137px;
    min-height: 100vh;
    background-repeat: no-repeat;
}



.discover-our-app {
    background-color: #f8f8f9;
    display: flex;
}

.discover-title {
    font-size: 3.3em;
    color: #161b26;
}
.discover-our-app .discover-image {
    width: 40%;
    margin: 5% 0% 0 8%;
}
.discover-our-app .discover-image img {
    width: 80%;
}
.discover-our-app .discover-description {
    width: 60%;
    margin: 11% 15%;
}
.discover-our-app h1 {
    line-height: 2em;
}
.discover-our-app ul {
    padding-left: 3%;
}
.discover-our-app ul li {
    line-height: 2em;
    font-size: 1.3em;
    color: #646f79;
}
.stores img {
    width: 17%;
    margin: 4% 5% 0 0;
}






@media(max-width:425px){
    *{
        /*width:auto;*/
    }
}



@media(max-width: 768px){
    *{
        /*width:auto;*/
    }
    .video-explain iframe {
        margin: 0px 5%;
        width: 90%;
    }

    .step3 .step__image img{
        padding-right: 0%;
    }


    .grading-superpowers .openpopup {
        margin-bottom: 365px;
    }

    .little-effort .container {
        padding-top: 0px;
    }

    .col-md-6 {
        width: 100%;
    }

    .col-md-6.final {
        position: relative;
        bottom:60px;
        margin-top: 40px;
        width: 100%;
    }

    .main-scene__image.desktop {
        display: none;
    }






    section.grading-superpowers {
        padding: 50px 5px 0px 5px;
        position: relative;
        background-color: #222;
        background: url(../img/mobilebg2.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        overflow: hidden;
        /* padding: 150px; */
        background-color: #f7f7f7;
    }

    .steps-block .step__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .steps-block .step .number {
        width: 44px;
        height: 44px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .steps-block .step__description {
        min-height: unset;
        text-align: center;
    }

    ul.menu.responsive {
        margin-top: -8px;
    }


    .main-scene__image img {
        width: 100%;
        display: inline-block;
        /* max-width: calc(100% - 30px) !important; */
        padding-left: 42px;
        margin-right: 10px;
    }

    .main-scene__text, .main-scene__text * {
        color: rgb(21, 27, 38);
        text-align: center;
        font-weight: bold;
    }

    .plain .main-scene__text, .plain .main-scene__text * {
        color: #222;
    }

    .main-scene__text p {
        padding: 0;
        margin-bottom: 15px;
    }

    .main-scene__text p.handwritten {
        padding: 0;
    }

    .main-scene__text {
        margin-top: 75px;
    }

    .plain .main-scene__text {
        color: #222 !important;
    }

    .main-scene__text .btn {
        background: #7a6eff;
        color: #fff;
        font-weight: normal;
    }

    .main-scene__image {
        /* margin: 30px; */
        max-width: unset;
        margin-top: 0px;
        max-width: unset;
        text-align: center;
        top: 0;
    }


    section.main-scene.bg-plain {
        background-size: cover !important;
        padding: 0px;
        background: url(../img/mobilebg.jpg);
        background-position: center;
        display: inline-block;
        width: 100%;
        padding-top: 0;
    }

    section.main-scene.bg2 {
        background: url(../img/bg2.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 137px;
        min-height: 100vh;
        background-repeat: no-repeat;
    }
    .main-scene-bottom .paly-video {
        width: 150px;
        padding-top: 2%;
    }

    .logo {
        padding: 15px 0;
        /* display: none; */
    }

    .little-effort .title {
        margin-top: 55px;
    }


    .main-nav .logo span {
        font-size: 24px;
        left: 60px;
        /* width: 100%; */
        /* text-align: center; */
        color: #273347;
        margin-left: -8px;
    }

    .main-nav .logo2 img {
        width: 100px;
        top: 5px;
    }

    header.main-nav {
        padding: 0;
        /* background: transparent; */
    }

    .grading-superpowers .openpopup {
        margin-bottom: 350px !important;
    }


    .footerli{
        margin-bottom: 10px;
    }

    .footerli2{
        margin-bottom: 40px;
    }

}

@media (max-width:1024px) and (min-width:769px){
    .col-md-6{
        position: relative;
        right: 100px;
        width:83%;
    }

}

@media (max-width:1358px) and (min-width:1024px){
    .col-md-6{
        position: relative;
        right: 120px;
        width:77%;
    }

}

@media (min-width:769px){
    .main-nav .logo span{
        top: 15px;
        margin-left: -8px;
    }
    .discover-our-app .discover-description {
        margin: 11% 2%;
    }

    .alert-text{
        font-size: 20px;
    }

    .nav-container * {
        color: #fff !important;
        fill: #fff ;
    }
    .swiftgrade{
        color: black !important;
    }



    .blockleft {
        position: relative;
        right: 10px;
    }

    .blockright {
        position: relative;
        left: 10px;
    }

    .step__description_left {
        position: relative;
        right: 10px;
    }

    .step__description_right {
        position: relative;
        left: 10px;
    }

    .main-scene__image.mob {
        display: none;
    }

    .grading-superpowers .title {
        margin-bottom: 10px;
    }

    .steps-block .step .container {
        padding: 0px 0px;
    }

    .mob-break{
        display: none;
    }


}

@media (max-width: 576px){



    .main-nav .logo span{
        color: #222;
    }
    .main-nav .logo {
        display: none;
    }
    .nav-fixed {
        padding: 5px 20px;
    }
    .main-nav .container {
        padding-top: 9px !important;
    }
    .discover-our-app {
        flex-wrap: wrap;
    }
    .discover-our-app .discover-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: unset;
        width: 100%;
    }
    .discover-our-app .discover-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;

    }
    .discover-our-app .discover-title {
        font-size: 2.5em;
        text-align: center;
    }
    .discover-our-app ul li {
        font-size: 1em;
    }
    .discover-our-app ul {
        margin-top: 4%;
    }
    .stores img {
        width: 40%;
    }

    .main-scene__text p.handwritten {
        display: none;
    }

    .main-nav nav .menu li:last-child a{
        background-color: #7a6eff;
        color: #fff !important;
    }

    .main-nav nav .menu li:nth-of-type(2) a {
        color: #796eff !important;
    }

    .main-nav .logo2 span {
        position: absolute;
        left: 80px;
        top: 36px;
        font-size: 24px;
        font-weight: 800;
        color: #222;
        margin-left: -5px;
    }

    .question{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400 !important;
        font-size: 40px !important;
    }

    .alert-text.openpopup{
        font-size: 18px;
    }

    .burger-menu{
        margin-top: -18px;
    }
    .nav-fixed .burger-menu{
        margin-top: -9px;
    }

    .main-scene.mob{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    section.main-scene {
        background-size: cover !important;
        padding: 0px;
        background: url(../img/mobilebg.jpg);
        background-position: top center;
        display: flex;
        width: 100%;
        padding-top: 0;
    }


    .container.mob{
        align-items: flex-start;
        margin: 0 auto;

    }
    .main-scene__text p.main-text {
        text-align: center;
        font-size: 2em;
    }
    .main-scene-bottom {
        display: grid;
        margin: 0 auto;
    }

    .container.mob.1{
    margin-top: -100px;

}

    .main-scene__text {
        margin-top: 15px;
    }

    .main-scene__text h1 {
        padding-top: 0px;
    }

    .main-scene__image {
        margin: 0;
        margin-top: 90px;
    }

    .steps-block .step__image{
        margin-top: 20px;
    }

    .blockright.step4{
        margin-bottom: 45px;
    }

    .ul-mob{
        margin-left: 5px;
    }

    .little-effort .title{
        margin-top:55px;
        text-align: center;
    }
    .main-scene-bottom .paly-video {
        padding-top: 5%;
        margin: 0 auto;

    }



}

@media (min-width: 576px){
    .main-nav .logo2 {
        display: none;
    }






}
.main-nav .container {
    padding-top: 0;
}
@media (min-width: 576px) and (max-width: 767px) {
    .main-nav .container {
        padding: 10px;
    }
    section.main-scene {
        padding-top: 30%;
    }

    .main-nav .logo {
        margin-top: 0;
        padding: 0;
    }
    .main-nav nav .menu {
        top: -12px;
    }
    .discover-our-app .discover-description {
        width: 60%;
        margin: 11% 1% 7% 13%;
    }
    .discover-our-app .discover-image {
        width: 40%;
        margin: 0;
    }

    .logoimg{
        display: none;
    }

    .logoimg2{
        display: inline !important;
    }

    .main-nav .logo span{
        color: #fff;
    }

    .nav-fixed {
        padding: 0 40px !important;
    }

    .main-nav nav .menu li a{
        color:#fff;
    }

    .menu *{
        fill: #fff;
    }

    .main-scene__text{
        margin-top: -40px !important;
    }

    section.main-scene{
        display: flex;
        background: url(../img/mobilebg.jpg);
        background-size: cover !important;
        background-position: 0% 30%;

    }

    .main-scene__image img{
        position: relative;
        margin-top: -75px !important;
        width: 90%;
    }

    .howitwork .container{
        margin-top: 0px;
    }

}


.btn-openpopup {
    display: inline-block;
    background: #796eff;
    border-radius: 4px;
    color: #fff;
    font-family: "Gordita-Medium";
    font-size: 24px;
    padding: 9px 49px;

}

@media (max-width: 362px) {
    .mob-break {
        display: none;
    }

}

@media (min-width: 576px) {
    .mob-break2{
        display: none;
    }
    .main-nav .logo img.logoimg2{
        display: none;
    }
}

@media (max-width: 325px) {

    .main-scene__text{
        margin-top: -5px !important;
    }

}

@media (max-width: 361px) {
    .main-scene__text h1{
        font-size: 30px;
    }

    .alert-text.openpopup {
        font-size: 15px;
    }

    .main-scene__text p{
        font-size: 16px;
        margin-bottom: 5px;
    }

    .main-scene__text .btn{
        font-size: 16px;
        margin-top: 5px;
    }

    .main-scene__text{
        margin-top: 5px;
    }

    .question{
        font-size: 34px !important;
    }
}


@media (min-height: 1336px) {

    .nav-fixed .menu *{
        fill: #7a6eff !important;
        color: #7a6eff !important;
    }

    section.main-scene{
        display: flex;
        flex-direction: column;
    }

    .main-scene .container{
        justify-content: center;
    }

    .main-scene__text{
        margin-bottom: 44%;
    }

}





@media (min-width: 1023px) and (max-width: 1025px){

    .main-scene__image img {
        width: 55%;
    }
    .main-scene .container {
        justify-content: left;
    }

    .main-nav nav .menu li:nth-of-type(2) a{
        color: #fff !important;
    }
    .main-nav nav .menu {
        top: -2px
    }
    .main-nav .nav-fixed nav .menu li a{
        fill: #796eff !important;
        color: #796eff !important;
    }

    .menu *{
        fill: #fff !important;
        color: #fff !important;
    }
    .nav-fixed .menu *{
        fill: #796eff !important;
        color: #796eff !important;
    }
    .main-nav .nav-fixed  nav .menu li:last-child a {
        color: #fff !important;
    }
    .nav-fixed {
        padding: 10px 45px !important;
    }
    .main-nav .logo {
        margin-top: -2%;
    }


    section.main-scene {
        background: url(../img/mobilebg.jpg) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100%;
        display: flex;
        flex-direction: column-reverse !important;
    }

    section.main-scene {
        min-height: 56vh;
    }
    .main-scene-bottom .openpopup {
        background-color: #FFFFFF;
        color: #796eff;
    }
    .play-icon img {
        background-color: #fff;
    }
    .main-scene-bottom .paly-video p {
        color: #FFFFFF;
    }

    .main-scene__image{
        max-width: none;
    }

    .swiftgrade{
        color: #fff !important;
        fill: #fff !important;
    }
}



@media (max-width:768px){
    .logoimg2{
        display: none;
    }
}

@media (min-width:1025px){
    .logoimg2{
        display: none;
    }
}

@media (min-width:767px) and (max-width:769px){
    .ipad{
        padding: 50px 5px 50px 5px !important;
    }

    .ipad2{
        padding-bottom: 10px !important;
    }
    .main-scene__image.desktop {
        display: none;
    }
    .main-nav nav .menu li:nth-of-type(2) a{
        color: #fff !important;
    }
    .main-nav .nav-fixed nav .menu li:nth-of-type(2) a{
        color: #796eff !important;
    }

    .menu *{
        fill: #fff !important;
        color: #fff !important;
    }
    .nav-fixed .menu *{
        fill: #7a6eff !important;
        color: #7a6eff !important;
    }

    .main-scene .container{
        justify-content: center;
    }

    .main-scene__text{
        margin-top: -60px;
    }



    .swiftgrade{
        color: #fff !important;
        fill: #fff !important;
    }

    section.main-scene {
        background: url(../img/mobilebg.jpg) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        display: flex;
        flex-direction: column!important;
    }

    .main-scene__image img{
        margin-top: -70px !important;
    }
}

@media (width:768px) {
    .logo {
        padding-top: 0;
    }
    .main-nav .logo {
        margin-top: -2%;
    }
    .main-nav nav .menu {
        top: 2px
    }
    .discover-our-app .discover-description {
        width: 60%;
        margin: 10% 5%;
    }

    .nav-fixed {
        padding: 10px 45px !important;
    }
    .main-scene-bottom .paly-video {
        padding-top: 2%;
    }
    .main-scene__image {
        top: 0;
        max-width: 80vw;
        margin: 10% auto;
        display: flex;
    }
    .main-scene-bottom .paly-video {
        width: 25%;
    }
    .howitwork .container {
        margin-top: -8%;
    }
    .discover-our-app .discover-image {
        width: 50%;
        margin-top: 15%;
    }
    .stores img {
        width: 35%;
    }

}

@media (width:720px) {

    .main-scene-bottom .paly-video {
        padding-top: 2%;
    }
    .main-nav .logo {
        margin-top: 0;
        padding: 0;
    }
    .main-nav nav .menu {
        top: -12px;
    }
    .nav-fixed {
        padding: 0 40px !important;
    }


}


/*Tab*/


.tab-wrap {
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
}


.tab {
    display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);

}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);

}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);

}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);

}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);

}
.tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6px;
    margin-right: 0;
    border-right: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
    margin-left: 0;
    border-left: 0;
}
.tab:last-of-type:not(:first-of-type):checked + label {
    background-color: #2643e6;
}
.tab:checked + label {
    background-color: #ffc910;
    color: #fff;
    cursor: default;
    border: 0;
}
.tab + label {
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #efeeee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 1.3em;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    box-sizing: border-box;
    padding: 6px 25px;
    margin: 0 auto;
}
/*.tab + label:hover {*/
/*    border: 1px solid #c1c1c1;*/
/*    box-shadow: 1px 1px #b3b3b3;*/
/*}*/
.tab:first-of-type:not(:last-of-type) + label:hover {
    background-color: #ffc90e;
    color: white;
}
.tab:last-of-type:not(:first-of-type) + label:hover {
    background-color: #2643e6;
    color: white;
}
.tab:first-of-type:not(:last-of-type):checked + label:hover {
    /*border: 1px solid #daac0e;*/
    /*box-shadow: 1px 1px #daac0e;*/
    background-color: #daac0e;
}
.tab:last-of-type:not(:first-of-type):checked + label:hover {
    /*border: 1px solid #1d33ae;*/
    /*box-shadow: 1px 1px #1d33ae;*/
    background-color: #1d33ae;
}

.tab__content {
    padding: 10px 0;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    margin-top: 3%;
}









.footer-menu__item-list li i {
    margin-right: 10px;
}
.footer-menu__item-list .footerli i {
    margin-right: 16px;
}
.footer-mobile {
    margin-left: 27px;
}








