.full{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.wrap{
    width: 100%;
    position: absolute;
    text-align: center;
    transition: 2s;
}

#s2{
	display: none;
}

.wrap .pull-left{
    padding-left: 4%;
    padding-top: 7%;
    vertical-align: top;
    transition: 0.4s;
}
.wrap .pull-right{
    transition: 0.4s;
}
.wrap .pull-right img{
	top: 3vh;
	position: absolute;
	right: 0;
}
.wrap .pull-right img.no-p{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.next{
	display: none;
    right: 0;
}
.prev {
	display: none;
    left: 0;
}
.dots{
    position: absolute;
    bottom: 20%;
    left: 4%;
}
.dot {
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 4px;
    background-color: #cdcccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #796eff;
}
.buttons{
    float: left;
}
.buttons .btn{
    float: left;
    font-size: 20px;
    padding: 12px;
}
.buttons .paly-video{
    float: left;
    width: 200px;
    padding-top: 3%;
}
.buttons .paly-video p{
    color: #7a6eff;
    float: left;
    text-align: left;
    padding: 0 0 15px 0;
    margin-left: 10%;
    margin-right: 2px;
}
.buttons .play-icon{
    text-align: left;
}

.move-left {
    left: 0;
    -webkit-animation: sliderl 1.5s forwards;
    transition: 0.5s;
}
@keyframes sliderl {
    from{left: 100%;}
}

.move-l-again{
    left: -100%;
    -webkit-animation: sliderla 1s forwards;
    transition: 0.5s;
}
@keyframes sliderla {
    from{left: 0;}
}

.move-right {
    left: 0;
    -webkit-animation: sliderr 1.5s forwards;
    transition: 0.5s;
}
@keyframes sliderr {
    from{left: -100%;}
}

.move-r-again{
    left: 100%;
    -webkit-animation: sliderra 1s forwards;
    transition: 0.5s;
}
@keyframes sliderra {
    from{left: 0;}
}
@media screen and (min-width: 2000px) {
    .full {
        overflow: hidden;
    }
    .container {
        max-width: 2560px;
    }
}
@media screen and (min-width: 2500px){
    .wrap .pull-left{
        padding-top: 15%;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .wrap .pull-left{
        padding-top: 9%;
    }
}
@media screen and (max-width: 1050px){
	.dots{
		bottom: 20%;
	}
    .wrap .pull-right{
    	width: 100%;
    	max-width: 100%;
    	padding: 0 20px;
    }
    .wrap .pull-right img{
    	width: unset;
    	float: unset;
    	right: unset;
    	max-height: 45vh;
    	position: relative;
    }
    .wrap .pull-left{
    	width: 100%;
    	max-width: 100%;
    	padding: 50px;
    	margin: 0;
    	top: 47vh;
    	position: absolute;
    }
    .wrap .pull-left p{
    	text-align: center;
    }
    .wrap .pull-left .buttons{
    	position: absolute;
    	left: 32%;
    }
    .wrap .pull-left .buttons .btn{
    	background: #fff;
    	color: #796eff;
    }
    .wrap .pull-left .buttons .paly-video p{
    	color: #fff;
    }
    .wrap .pull-right img.with-p{
    	display: none;
    }
    .wrap .pull-right img.no-p{
    	display: inline;
    }
}
@media screen and (max-width: 780px){
    .full {
        height: 90vh;
    }
    .dots{
    	left: 88%;
    }
    .wrap .pull-left{
    	top: 46vh;
    }
    .wrap .pull-right{
		top: 6vh;
	}
	.wrap .pull-left .buttons{
		left: 24vw;
	}
	.wrap .pull-left .buttons .btn{
    	background: #796eff;
    	color: #fff;
    }
    .wrap .pull-left .buttons .paly-video p{
    	color: #796eff;
    }
    .wrap .pull-right img{
        margin: 0;
        padding: 0;
    }
    .main-scene__text p.main-text{
        font-size: 2.5em;
    }
    .play-icon .img-top{

    }
}
@media screen and (max-width: 768px) {
    .wrap .pull-right{
        margin: 0;
    }
    .wrap .pull-right img{
        margin: 0 auto;
    }
    .buttons .paly-video{
        width: 180px;
    }
}
@media screen and (max-width: 580px) {
    .wrap .pull-right{
        margin: 0;
        top: 0;
    }
    .dots{
        bottom: 1%;
    }
}
@media screen and (max-width: 576px) {
    .wrap .pull-left{
        top: 42vh;
    }
    .wrap .pull-right img{
		margin: 0;
		padding: 0 20px;
	}
	.wrap .pull-left .buttons{
		left: 15%;
	}
	.dots{
        left: 4%;
    }
}
@media screen and (max-width: 500px) {
    .wrap .pull-left{
        top: 43vh;
    }
}
@media screen and (max-width: 450px) {
    .main-scene__text p.main-text {
    font-size: 2em;
    }
    .wrap .pull-left .buttons{
    	left: 27vw;
    }
    .buttons .paly-video{
    	padding-top: 5%;
    }
    .wrap .pull-left .buttons{
        left: 10%;
    }
    .wrap .pull-left{
        top: 39vh;
    }
    .main-scene__text p.handwritten{
        font-size: .8em;
    }
    .wrap .pull-left .buttons{
        left: 27%;
        padding: 20px 0;
    }
    .buttons .paly-video{
        width: 170px;
    }
}
@media screen and (max-width: 360px) {

    .main-scene__text p.main-text{
        font-size: 1em;
    }
    .buttons .paly-video{
        width: 140px;
    }
}
@media screen and (max-width: 450px) {
    .full {
        padding-top: 8%;
    }
}
@media screen and (max-width: 300px) {
    .dots{
        left: 4%;
    }
}
@media screen and (max-height: 500px) {
    section.main-scene{
        padding-top: 100px;
    }
    .full{
        padding-top: 2em;
    }
    .main-nav{
        padding: 15px;
    }
    .wrap .pull-right{
        width: 50%;
        float: right;
        margin-top: 2%;
    }
    .wrap .pull-left{
        width: 50%;
        float: left;
        margin-top: 0;
        top: 0;
    }
    .main-scene__text p.main-text{
        font-size: 1.5em;
    }
    .main-scene__text p.handwritten{
        font-size: .8em;
    }
    .wrap .pull-left .buttons{
        width: 350px;
        left: 1%;
    }
    .buttons .paly-video{
        width: 160px;
    }
    .wrap .pull-left .buttons .btn{
        background: #796eff;
        color: #fff;
    }
    .wrap .pull-left .buttons .paly-video p{
        color: #796eff;
    }
}
@media screen and (max-height: 400px) {
    
    
}
@media screen and (max-width: 1024px) and (height: 1366px) {
    .main-nav nav .menu li:nth-of-type(2) a {
        color: #7a6eff !important;
    }
    .menu * {
        color: #7a6eff !important;
        fill: #7a6eff !important;
    }
}