.full{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.wrap{
    width: 100%;
    position: absolute;
    text-align: center;
    transition: 2s;
}

#s2{
	display: none;
}

.wrap .pull-left{
    padding-left: 4%;
    padding-top: 7%;
    vertical-align: top;
    transition: 0.4s;
}
.wrap .pull-right{
    transition: 0.4s;
}
.wrap .pull-right img{
	top: 3vh;
	position: absolute;
	right: 0;
}
.wrap .pull-right img.no-p{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.next{
	display: none;
    right: 0;
}
.prev {
	display: none;
    left: 0;
}
.dots{
    position: absolute;
    width: 100%;
    bottom: 36vh;
    left: 4%;
}
.dot {
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 4px;
    background-color: #cdcccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #796eff;
}
.buttons{
    float: left;
}
.buttons .btn{
    float: left;
    font-size: 20px;
    padding: 12px;
}
.buttons .paly-video{
    float: left;
    width: 200px;
    padding-top: 3%;
}
.buttons .paly-video p{
    color: #7a6eff;
    float: left;
    text-align: left;
    padding: 0 0 15px 0;
    margin-left: 10%;
    margin-right: 2px;
}
.buttons .play-icon{
    text-align: left;
}

.move-left {
    left: 0;
    -webkit-animation: sliderl 1.5s forwards;
    transition: 0.5s;
}
@keyframes sliderl {
    from{left: 100%;}
}

.move-l-again{
    left: -100%;
    -webkit-animation: sliderla 1s forwards;
    transition: 0.5s;
}
@keyframes sliderla {
    from{left: 0;}
}

.move-right {
    left: 0;
    -webkit-animation: sliderr 1.5s forwards;
    transition: 0.5s;
}
@keyframes sliderr {
    from{left: -100%;}
}

.move-r-again{
    left: 100%;
    -webkit-animation: sliderra 1s forwards;
    transition: 0.5s;
}
@keyframes sliderra {
    from{left: 0;}
}

@media screen and (max-width: 1250px){
    .dots{
    	bottom: 10vh;
    }
}
@media screen and (max-width: 1100px){
	.dots{
		bottom: 10vh;
	}
    .wrap .pull-right{
    	width: 100%;
    	max-width: 100%;
    	padding: 0 20px;
    }
    .wrap .pull-right img{
    	width: unset;
    	float: unset;
    	right: unset;
    	max-height: 45vh;
    	position: relative;
    }
    .wrap .pull-left{
    	width: 100%;
    	max-width: 100%;
    	padding: 50px;
    	margin: 0;
    	top: 47vh;
    	position: absolute;
    }
    .wrap .pull-left p{
    	text-align: center;
    }
    .wrap .pull-left .buttons{
    	position: absolute;
    	left: 32%;
    }
    .wrap .pull-left .buttons .btn{
    	background: #fff;
    	color: #796eff;
    }
    .wrap .pull-left .buttons .paly-video p{
    	color: #fff;
    }
    .wrap .pull-right img.with-p{
    	display: none;
    }
    .wrap .pull-right img.no-p{
    	display: inline;
    }
}
@media screen and (max-width: 780px){
    .dots{
    	left: 88%;
    }
    .wrap .pull-left{
    	top: 46vh;
    }
    .wrap .pull-right img{
		top: 0;
	}
	.wrap .pull-left .buttons{
		left: 24vw;
	}
	.wrap .pull-left .buttons .btn{
    	background: #796eff;
    	color: #fff;
    }
    .wrap .pull-left .buttons .paly-video p{
    	color: #796eff;
    }
}
@media screen and (max-width: 650px) {
    .wrap .pull-right{
    	padding: 0 40px;
    }
    .wrap .pull-left p{

    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
	.wrap .pull-right img{
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width: 576px) {
    .wrap .pull-right img{
		margin: 0;
		padding: 0 20px;
	}
	.wrap .pull-left .buttons{
		left: 18vw;
		padding-top: 20px;
	}
	.dots{
    	left: 85vw;
    	bottom: 0;
    }
}
@media screen and (max-width: 450px) {
    .wrap .pull-left .buttons{
    	left: 27vw;
    }
    .buttons .paly-video{
    	padding-top: 5%;
    }
}